<!-- <footer>
  <div class="f-info">
    <div class="f-info-socials">
      <i class="fab fa-facebook-square"></i>
      <i class="fab fa-instagram-square"></i>
      <i class="fab fa-linkedin"> </i>
    </div>

    <div class="f-info-brand">&copy;Wanderlust Private Limited</div>

    <div class="f-info-links">
      <a href="/privacy">Privacy</a>

      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
 -->

<!-- footer -->

<style>
  .main {
    text-align: center;
    display: inline-block;
    align-items: center;
    align-content: center;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
  }

  a {
    text-decoration: none;
  }

  .footer {
    background-color: #024950;
    display: wrap;
  }

  .footercontent {
    text-align: center;
    display: inline-block;
    align-items: center;
    align-content: center;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1rem;
  }

  .footercontent h5 {
    font-size: 1.4rem;
    padding-bottom: 1rem;
  }

  .footerend {
    text-align: center;

    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1rem;
  }
</style>

<footer class="footer text-white pt-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 main mb-3">
        <h2>DestQuest</h2>
        <br />
        <p>
          Stay connected with us to find out about the latest travel deals,
          unique experiences, and hidden gems around City and Towns.
          <br />Follow us on social media and never miss out on exciting
          updates!
        </p>
        <br />
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-4 footercontent">
        <h5>Explore More</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Home</a></li>
          <li><a href="#" class="text-white">About Us</a></li>
          <li><a href="#" class="text-white">Our Properties</a></li>
          <li><a href="#" class="text-white">Guest Reviews</a></li>
        </ul>
      </div>
      <div class="col-md-4 footercontent">
        <h5>Guest Services at Your Fingertips</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Check Availability</a></li>
          <li><a href="#" class="text-white">Book Your Stay</a></li>
          <li><a href="#" class="text-white">Concierge Services</a></li>
          <li><a href="#" class="text-white">Travel Tips & Guides</a></li>
        </ul>
      </div>

      <div class="col-md-4 footercontent">
        <h5>Contact Us</h5>
        <p>
          Email:
          <a href="mailto:info@DestQuest.com" class="text-white"
            >info@DestQuest.com</a
          >
        </p>
        <p>
          Phone:
          <a href="tel:+11234567890" class="text-white">+1 (123) 456-7890</a>
        </p>
        <p>Address: Somewhere , Anywhere, Everywhere, 000000</p>
      </div>
    </div>
    <div class="row mt-4 footerend">
      <div class="col-12 text-center">
        <p>Experience the Best of City and Towns</p>
        <p>
          Your dream getaway starts here. &copy;
          <span id="current-year"></span> DestQuest. All Rights Reserved.
        </p>
        <p>
          Crafted with care by <a href="#" class="text-white">DestQuest</a>.
        </p>
        <br /><br />
      </div>
    </div>
  </div>
</footer>

<!-- footer -->
